{
  "extends": "airbnb-base",
  "rules": {
    "func-names": ["error", "as-needed"],
    "no-console": ["error", { "allow": ["log"] }],
    "no-underscore-dangle": ["error",{ "allow": ["_id"] }]
  }
}